<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.scdx.dao.mapper.AttrMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<resultMap id="BaseResultMap" type="com.hust.scdx.model.Attr">
		<id column="attr_id" jdbcType="INTEGER" property="attrId" />
		<result column="attr_mainname" jdbcType="VARCHAR" property="attrMainname" />
		<result column="attr_alias" jdbcType="VARCHAR" property="attrAlias" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		attr_id, attr_mainname, attr_alias
	</sql>
	<select id="selectByExample" parameterType="com.hust.scdx.model.AttrExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from attr
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="start != null and limit != null" >
    	limit #{start},#{limit}
    </if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select 'true' as QUERYID,
		<include refid="Base_Column_List" />
		from attr
		where attr_id = #{attrId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from attr
		where attr_id = #{attrId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.hust.scdx.model.AttrExample">
		delete from attr
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.hust.scdx.model.Attr">
		insert into attr (attr_id, attr_mainname, attr_alias
		)
		values (#{attrId,jdbcType=INTEGER}, #{attrMainname,jdbcType=VARCHAR},
		#{attrAlias,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hust.scdx.model.Attr">
		insert into attr
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="attrId != null">
				attr_id,
			</if>
			<if test="attrMainname != null">
				attr_mainname,
			</if>
			<if test="attrAlias != null">
				attr_alias,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="attrId != null">
				#{attrId,jdbcType=INTEGER},
			</if>
			<if test="attrMainname != null">
				#{attrMainname,jdbcType=VARCHAR},
			</if>
			<if test="attrAlias != null">
				#{attrAlias,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.hust.scdx.model.AttrExample"
		resultType="java.lang.Long">
		select count(*) from attr
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update attr
		<set>
			<if test="record.attrId != null">
				attr_id = #{record.attrId,jdbcType=INTEGER},
			</if>
			<if test="record.attrMainname != null">
				attr_mainname = #{record.attrMainname,jdbcType=VARCHAR},
			</if>
			<if test="record.attrAlias != null">
				attr_alias = #{record.attrAlias,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update attr
		set attr_id = #{record.attrId,jdbcType=INTEGER},
		attr_mainname = #{record.attrMainname,jdbcType=VARCHAR},
		attr_alias = #{record.attrAlias,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.hust.scdx.model.Attr">
		update attr
		<set>
			<if test="attrMainname != null">
				attr_mainname = #{attrMainname,jdbcType=VARCHAR},
			</if>
			<if test="attrAlias != null">
				attr_alias = #{attrAlias,jdbcType=VARCHAR},
			</if>
		</set>
		where attr_id = #{attrId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hust.scdx.model.Attr">
		update attr
		set attr_mainname = #{attrMainname,jdbcType=VARCHAR},
		attr_alias = #{attrAlias,jdbcType=VARCHAR}
		where attr_id = #{attrId,jdbcType=INTEGER}
	</update>
</mapper>