<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.scdx.dao.mapper.StopwordMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<resultMap id="BaseResultMap" type="com.hust.scdx.model.Stopword">
		<id column="stopword_id" jdbcType="INTEGER" property="stopwordId" />
		<result column="word" jdbcType="VARCHAR" property="word" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		stopword_id, word, creator, create_time
	</sql>
	<select id="selectByExample" parameterType="com.hust.scdx.model.StopwordExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from stopword
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="start != 0 or limit != 0" >
    		limit #{start},#{limit}
    	</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select 'true' as QUERYID,
		<include refid="Base_Column_List" />
		from stopword
		where stopword_id = #{stopwordId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		stopword
		where stopword_id = #{stopwordId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.hust.scdx.model.StopwordExample">
		delete from stopword
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.hust.scdx.model.Stopword">
		insert into stopword
		(stopword_id, word, creator,
		create_time)
		values
		(#{stopwordId,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertBatch" parameterType="java.util.List">
		insert ignore into stopword (word, creator,
		create_time)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.word,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR},
			#{item.createTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert>

	<insert id="insertSelective" parameterType="com.hust.scdx.model.Stopword">
		insert into stopword
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="stopwordId != null">
				stopword_id,
			</if>
			<if test="word != null">
				word,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="stopwordId != null">
				#{stopwordId,jdbcType=INTEGER},
			</if>
			<if test="word != null">
				#{word,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.hust.scdx.model.StopwordExample"
		resultType="java.lang.Long">
		select count(*) from stopword
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update stopword
		<set>
			<if test="record.stopwordId != null">
				stopword_id = #{record.stopwordId,jdbcType=INTEGER},
			</if>
			<if test="record.word != null">
				word = #{record.word,jdbcType=VARCHAR},
			</if>
			<if test="record.creator != null">
				creator = #{record.creator,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update stopword
		set stopword_id =
		#{record.stopwordId,jdbcType=INTEGER},
		word =
		#{record.word,jdbcType=VARCHAR},
		creator =
		#{record.creator,jdbcType=VARCHAR},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.hust.scdx.model.Stopword">
		update stopword
		<set>
			<if test="word != null">
				word = #{word,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where stopword_id = #{stopwordId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hust.scdx.model.Stopword">
		update stopword
		set word = #{word,jdbcType=VARCHAR},
		creator =
		#{creator,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where stopword_id =
		#{stopwordId,jdbcType=INTEGER}
	</update>
</mapper>