.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px 2px;
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px 2px;
    background-color: #0099FF;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px 2px;
    background-color: #DDDDDD;
}

.page .turnPage{
	border: solid thin #DDDDDD;
    margin: 5px 2px;
}

.page .turnPage:hover{
	border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}

.page .turnPageDisable{
	border: solid thin #DDDDDD;
    margin: 5px 2px;
    background-color: #DDDDDD;
}

.page .turnPageNum{
    width:35px;
    height:26px;
    margin: 5px 2px;
    border-radius:5px;
}