@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img, button,iframe { border:none; }/* ie6 中的bug */
details summary::-webkit-details-marker { display:none; }
img{}/* 图片下边有3像素缝隙 */
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; }
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; border:0; }
select, input, textarea { font-size:14px; margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
table { border-collapse:collapse; }
body { color:#000; font-size:14px; background:#ffffff;/* overflow-y:scroll;*/  overflow-x : scroll;}
.clear{clear:both;}
a { color:#000; text-decoration:none; }
a:hover { color:#000000; text-decoration:none; }
.float_l{float:left;}
.float_r{float:right;}
.main .nomg_r{ margin-right:0px;}
.main .nomg_b{ margin-bottom:0px;}
.main .nobd_b{ border-bottom:0px;}
.red{ color:red;}

.main{ width:1000px; margin:0 auto; overflow: hidden; }

/* 头部*/
.top{ width:1000px; height:177px; background: url(../images/banner.jpg) no-repeat center center; color:#fff; overflow: hidden;} 
.b_tit{ display: block; height:117px; line-height:117px; font-size: 48px; margin-top: 20px; text-align: center; }
.s_tit{ display: block; line-height:40px; font-size: 16px; text-align: right; padding-right:20px;}
.s_tit a{ color:#fff;}
.s_tit i{ font-style: normal;}

/*底部*/
.copyright{ width:1000px; height:70px; background:#397fbb; line-height:70px; text-align:center; font-size:16px; color:#fff; margin-top:10px;}

/* 左侧 */
.content{ width:1000px; margin-top:10px; }
.left{ width:185px;} 
.tit_bar{ width:185px; height: 50px; color:#fff; padding-left:50px; font-size: 20px; line-height:50px;}
.sb01{ background:#0e63ab url(../images/icon_ht.png) no-repeat 15px center; }
.sb02{ background:#0e63ab url(../images/icon_qx.png) no-repeat 15px center; }
.sb03{ background:#0e63ab url(../images/icon_xt.png) no-repeat 15px center; }
.sb04{ background:#0e63ab url(../images/icon_zh.png) no-repeat 15px center; }
.left ul{ width: 185px; font-size:16px; }
.left ul li{ width: 185px;  text-align: center; line-height:40px;}
.left ul li a{ display:block;  line-height:40px;}
.left ul li:hover a{ background:#86c6ea; color:#ffffff; text-decoration:none; }
.left ul li.current a{ background:#009ad6; color:#ffffff; text-decoration:none; }


.right{ width:790px; min-height:720px;padding:0 10px; }
.s_nav{ line-height:50px; font-size: 16px; border-bottom:1px solid #999;}

/* 查看任务*/
.ckht{ width:770px; position: relative;} 
.sur_result{position: absolute; right:20px; top:10px;}
.his_result{position: absolute; right:125px; top:10px;}
.ckht_list{ width:770px; margin-left:0px;  margin-top:0px;}
.ckht_list li{ line-height: 30px; font-size: 16px; }
.up_list_wrap{width:770px; max-height:350px; min-height:150px;overflow-y:scroll;overflow-x:hidden;border:1px solid #0e63ab;}
.files_list table{ margin:0px auto;}
.files_list table td{ border-right:1px solid #999999; border-bottom:1px solid #999999; font-size:14px; background:#ffffff;}
.files_list table .d_blue{ background:#86c6ea;}  
.btn_sc{ display:inline-block;margin-right:10px;}
.btn_jl{ display:inline-block;}
.files_add{ width:770px; height:250px; background:#f8f8f8; margin:0px auto; line-height:225px; font-size:40px; text-align:center;}
.files_put{ width:770px; height:35px; background:#f8f8f8; font-size:16px; text-align:center;}

.up_del{ width:770px;}
@keyframes twinkling{	/*透明度由0到1*/
			0%{
				opacity:0.1;				/*透明度为0*/
			}
			100%{
				opacity:1;				/*透明度为1*/
			}
		}

.up_del li{ height:50px; line-height:50px; overflow:hidden;}
.files_name{ width:110px; height:30px; line-height:30px;  padding-left:5px; font-size:12px;}
.files_tname{ width:70px; height:30px; line-height:30px;  padding-left:5px; font-size: 12px;}
.up_del li select{ width:70px; height:30px; line-height:30px; font-size:12px; padding-left:5px;}
.up_del li select option{ width:75px; height:26px; line-height:26px; font-size:12px;}
.btn_up_del01{float:right; margin-top:10px; margin-right:10px;}
.btn_up_del02{float:right; margin-top:10px;}
.btn_up_del04{float:right; margin-top:10px;}

.btn_upl_all{float:right; margin-right:10px;}
.btn_del_all{float:right;}

/*查看任务*/
.cjht{ width:770px; height:185px;}
.ht_name{ width:515px; margin:60px auto; font-size:18px; line-height:34px;}
.input_ht_name{ width:340px; height:34px; line-height:34px; padding-left:10px;}
.btn_cj{ display:inline-block; float:right; }

/*自有任务*/
.htlist{ width:770px; overflow:hidden; padding:10px 0;}
.ht_tit{ width:730px; margin:0 auto; font-size:14px;}
.zyht_name,.cjr_name{ width:90px; height:30px; line-height:30px; background:#dddddd; margin-right:10px; padding-left:10px; font-size:12px;}
.begin_time,.over_time{ width:130px; hieght:30px; font-size:12px; line-height:30px; background:#dddddd;}
.begin_time{ margin-right:10px; font-size:12px;}
.btn_search_ckht{ margin-right:5px;}
.ht_cont{ margin:0 auto; }
.ht_cont tr{ border-top:1px solid #cccccc;}
.ht_cont tr a{ display:block; line-height:40px; height:40px;}
.ht_cont .nobd_t{ border-top:none}
.ht_cont img{ cursor:pointer;}
.yema{ float:right; heiht:30px; margin-top:30px; margin-right:20px;}
.yema a{ display:inline-block; float:left; height:28px; border-radius:5px; padding:0 8px; margin-left:5px; background:#ccc; line-height:28px; font-size:12px; }
.yema a:hover{ background:#0e63ab; color:#fff; }
.yema a.cur{background:#0e63ab; color:#fff; }

/*数据汇总*/
.data_summary{ width:770px; overflow:hidden; padding:0px 0; }
.summary_l{ width:500px; height: 40px; }
.summary_l ul{ width:300px; margin-left:200px; }
.summary_l li{ float: left; width:130px; line-height: 40px; font-size: 18px; background:url(../images/huizong.png) no-repeat center left; padding-left: 20px; cursor: pointer;}
.summary_l li:hover{  background:url(../images/huizong_h.png) no-repeat center left ;}
.data_summary li.now{  background:url(../images/huizong_h.png) no-repeat center left ;}

.summary_r{ width:65px;margin-left:100px; margin-top:5px; display:none;}
.summary_r img{ cursor:pointer;}
.btn_hz{ display:block;}
.summary_time{ width:770px; margin-top:5px; }
.summary_time li{ float:left;  line-height: 38px; margin-right:5px; }
.summary_time li input{ width:15px; height:15px; }
.summary_time li input.lol_begin{ width:105px; height:30px; line-height:30px; font-size:12px;}
.summary_time li input.lol_end{ width:105px; height:30px; line-height:30px; font-size:12px;}
.summary_time li.file_search{cursor: pointer;}
.summary_time li.file_summary{cursor: pointer;}
.summary_wrap{ width:770px;/* display:none;*/ }
.summary_show{ display:block; }
.summary_up{ width:770px; margin-top:5px; height:200px; border:1px solid #0e63ab; overflow-y:scroll; }
.summary_up table td{ border-right:1px solid #999999; border-bottom:1px solid #999999;}
.summary_cont{ width:748px; margin-top:20px; /* border:1px solid #0e63ab;*/ /*display:none; */}
.summary_tab{width:770px; height:415px;;overflow-y:scroll; border:1px solid #0e63ab;  }
.summary_tab tr{ border-bottom:1px solid #999999;}
.summary_tab table td{ border-right:1px solid #999999; border-bottom:1px solid #999999;}
.summary_tab tr a{display: inline-block; line-height:32px; height:32px; overflow: hidden;}
.summary_tab .tab_tit{ width:265px; line-height:48px;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.summary_tab .tab_from{ width:115px; line-height:48px;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.choose{ margin-right:10px;}
.table_clear{ width:770px; margin-left:0px;}
.clear_choose{ float:left; margin-top:23px;font-size:18px;}
.table_clear img{ float:left; margin-top:16px; margin-left:20px;}


/*数据详情*/
.data_xq{ width:770px;;}
.data_xq_tit{ width:770px; margin:20px auto; border-bottom:1px solid #86c6ea; }
.data_xq_tit li{ float:left; width:120px; height:42px; font-size:16px; text-align:center; line-height:42px; background:#86c6ea; border-top-left-radius:10px;border-top-right-radius:10px; margin:0 15px; cursor:pointer;}
.data_xq_tit li:hover{  background:#0e63ab; color:#fff;}
.data_xq_tit li.stop{  background:#0e63ab; color:#fff; }
.data_xq_cont{ width:770px; display:none;}
.data_xq_cont span{ display:block; font-size:16px; line-height:40px;}
.table_collection{width:770px;height:210px; overflow-y:scroll; overflow-x:scroll;}
.data_xq_cont table { margin-bottom:20px;}
.data_xq_cont table td{ border:1px solid #999999; line-height: 32px; text-align: center;}
.data_xq_cont_del{ width:650px; margin:0 50px;  line-height:32px; font-size:16px;}
.data_xq_cont_del input{ font-size:16px;}
.data_xq_cont_del button{ float:right; width:80px; height:34px; border-radius:5px; font-size:16px; color:#fff;  background:#0e63ab; cursor:pointer;}
.stop_zs{ display:block;}

/*用户信息显示*/
.user_infor{ width:770px; padding:10px 20px;}
.infor_tab01{ font-size:16px; margin-bottom:20px;}
.infor_tab01 input{ width:130px; height:30px;  padding-left:10px;}
.infor_tab01 button{ margin-left:20px; border-radius:5px; color:#fff; cursor:pointer;}
/*.infor_tablist{ width:710px; height:300px; overflow:hidden; overflow-y:scroll; }*/
.infor_tablist{ width:770px;  }
.infor_tab02{ font-size:14px;}
.infor_tab02 tr td{ border:1px solid #999999;}
.infor_tab02_tit{ font-size:16px;  }
.user_num{ float:right;  heiht:50px; margin-top:30px; margin-right:20px;}
.user_num input{ float:left; height:28px; border-radius:5px; padding:0 8px; margin-left:5px;  line-height:28px; font-size:12px; cursor:pointer;}
.user_num button{  float:left; height:28px; border-radius:5px; padding:0 8px; margin-left:5px; background:#ccc; line-height:28px; font-size:12px; cursor:pointer;}
.user_num button:hover{background:#0e63ab; color:#fff; }
.user_num input.cur{background:#0e63ab; color:#fff; }
.go_num{  float:left; width:21px; height:26px; border:1px solid #cccccc; border-radius:5px;padding-left:5px; margin-left:5px; background:#ffffff;}


/*编辑用户*/
.change_tab{ font-size:16px; margin:0 auto;}
.change_tab input { padding-left:10px;}
.user_tijiao{ margin-left:65px;}
.user_warn{ font-size:12px; color:red; padding-left: 10px;}
.change_tab select{ width:200px; line-height:36px; padding-left:10px;}

/*角色信息显示*/
.role_search{ width:430px; float:right; margin-bottom:20px;}
.role_search_input{float:right; margin: 0px 0px 10px auto;}
.role_search_input input{ width:180px;}
.icon_search{margin-left: -35px;}
.btn_role{ margin-left:20px;}
.role_add_del{ width:200px; margin-top:20px; }
.role_add_del table { line-height:30px; font-size:14px;}
.role_add_del table input{width:10px; margin-right:10px; }
.role_add_del table td{ border:1px solid #999999; padding-left:10px;}

/*映射表管理*/
.infor_tab02 .tab_url{ width:238px;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

details span{
	overflow:hidden;
	max-height: 23px;
	display: inline;
	white-space: nowrap;
	text-overflow: ellipsis;
　　overflow:-webkit-marquee;
　　-webkit-marquee-direction:left;
　　-webkit-marquee-speed:normal;
　　-webkit-marquee-style:scroll;
　　-webkit-marquee-repetition:1;
}



