.fileList{
    width:384px;   
    height: 125px;
    border-top:1px solid #999999;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    margin-bottom: -1px;
    font-size:15px;
}
.fileList table{
    table-layout: fixed;
    width:375px;
    border:0px;
    border-collapse:collapse;
    text-align: center;
}

.fileList table tr{
    height: 25px;
}
.fileList table th{
    border-right:1px solid;
    border-bottom:1px solid;
    padding: 0;
}
.fileList table td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right:1px solid #999999;
    border-bottom:1px solid #999999;
    padding: 0;
}

.fileList table td input{
    margin:auto 1px;
}

.hand{
	cursor:pointer;
}